// -------------
// Fundamentals:

a
  text-decoration none
  color inherit

p > a
  text-decoration underline
  color inherit

p
  line-height 140%
  margin 0
  margin-top 5px
  margin-bottom 10px

ul
  line-height 125%
  margin 0
  margin-bottom 10px

hr
  border none
  border-top 3px dotted #AAA
  margin 20px 0

// --------------
// Code snippets:

pre
  background #f4f4f4
  border 1px solid #ddd
  max-width 100%
  overflow auto
  padding 5px 10px
  display block
  word-wrap break-word

:not(pre) > code
  color #1f66e5
  font-family source-code-pro, monospace
  font-weight 400
  font-size 18px  // Relative to 20px quasimoda.
  background-color #dee8fb
  border-radius 5px
  padding 0 5px

// ----------
// Main page:

body
  margin 0
  overflow-x hidden

main
  margin 0

.grid
  height auto
  width 100vw
  display grid
  @media (max-width: 1200px)
    grid-template-rows 1fr auto 1fr
  @media (min-width: 1200px)
    height 100vh
    width 150vw
    grid-template-columns 1fr 1fr 1fr
    transform translateX(-50vw)
    transition transform 700ms ease-out

  &.move
    transform translateX(0vw)

section
  @media (min-width: 1200px)
    height inherit
  @media (max-width: 1200px)
    min-height 100vh
  display flex
  align-self flex-start
  flex-direction column
  justify-content space-evenly

.left
  grid-column 1
  grid-row 1
  @media (max-width: 1200px)
    grid-column 1
    grid-row 2
    padding-top 20px
    padding-bottom 20px

.middle
  grid-column 2
  grid-row 1
  @media (max-width: 1200px)
    grid-column 1
    grid-row 1

.right
  grid-column 3
  grid-row 1
  @media (max-width: 1200px)
    grid-column 1
    grid-row 3

.guide
  @media (max-width: 1200px)
    display none
  position relative
  bottom -20vh  // The positioning is done from inside content div, because section div is a flex container, which makes it difficult to position this while keeping content centered vertically.
  font-family p22-underground-pc, sans-serif
  font-weight 400
  font-size 20px
  text-align center
  margin 0

.name,.caption
  text-align center
  margin 20px auto

.name
  font-family mister-brown, sans-serif
  font-weight 400
  font-style normal
  font-size 180px
  @media (max-width: 480px)
    font-size 35vw
  line-height 120px
  white-space nowrap

.caption
  font-family filson-pro, sans-serif
  font-weight 400
  font-size 40px

.main-links
  display flex
  flex-direction row
  justify-content center
  @media (max-width: 640px)
    flex-direction column
  margin-top 5%

@media (max-width: 640px)
  #collection-link-l
    order 2
    margin-top 20px
    font-size 42px
    @media (max-width: 480px)
      font-size 9vw
  #collection-link-r
    order 3
    margin-top 10px
    font-size 42px
    @media (max-width: 480px)
      font-size 9vw

.contact-links
  display flex
  flex-direction row
  justify-content center

.contact-link
  margin 0 20px

.icon
  width 50px
  height 50px
  @media (max-width: 480px)
    width 10vw
    height 10vw

.projects
  @media (max-width: 640px)
    width 90%
    margin 0 auto

  &-title
    @media (max-width: 640px)
      display none
    position absolute
    left -355px
    transform rotate(90deg)
    font-family quasimoda, sans-serif
    font-weight 700
    font-size 150px
    text-align center
    user-select none

  &-divider
    width 80%
    margin 5px 8% 0 12%
    text-align center
    font-family p22-underground-pc, sans-serif
    font-weight 600
    font-size 42px

.project
  width 80%
  margin 5px 8% 25px 12%
  @media (max-width: 640px)
    width auto
    margin 10px auto

  padding 20px
  border-radius 10px
  background #fff
  filter invert(0)
  transition all 500ms

  &:hover
    filter invert(1)

  &-header
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-between
    @media (max-width: 640px)
      flex-direction column

  &-name, &-description
    margin 0
    color #000

  &-name
    font-family p22-underground-pc, sans-serif
    font-weight 600
    font-size 30px
    margin-bottom 5px

  &-description
    font-family quasimoda, sans-serif
    font-weight 400
    font-size 20px

  &-date
    margin 0
    margin-bottom 5px
    color #AAA
    font-family p22-underground-pc, sans-serif
    font-weight 500
    font-size 27px
    @media (min-width: 640px)
      align-self flex-end

.photo
  height 100vh
  background #000
  display flex
  justify-content center
  align-items center

  &-pic
    position absolute
    inset 0
    margin auto
    max-width 25vw
    @media (max-width: 1200px)
      max-width 50vw
    @media (max-width: 640px)
      max-width 66vw
    user-select none
    transform rotate(9deg)

  &-title
    @media (max-width: 640px)
      display none
    position absolute
    right -245px
    transform rotate(-90deg)
    font-family quasimoda, sans-serif
    font-weight 700
    font-size 150px
    text-align center
    user-select none
    color #fff

.page
  width 50%
  @media (max-width: 1200px)
    width 65%
  @media (max-width: 640px)
    width 80%
  margin 0 auto

  &-title
    font-family p22-underground-pc, sans-serif
    font-weight 500
    font-size 40px
    margin 0

  &-content
    font-family quasimoda, sans-serif
    font-weight 400
    font-size 20px
    margin-bottom 25px
    position relative // In order for PROJECTS/BLOG title to work.

.headline
  display flex
  flex-direction row
  justify-content space-between
  @media (max-width: 640px)
    flex-direction column-reverse
    justify-content space-around
    text-align center
  margin-top 20px
  margin-bottom 10px

.logo
  font-family mister-brown, sans-serif
  font-weight 400
  font-style normal
  font-size 60px
  line-height 40px
  margin 0
  @media (max-width: 640px)
    margin-bottom 20px

.collection-title
  @media (max-width: 640px)
    display none
  position absolute
  transform rotate(-90deg)
  font-family quasimoda, sans-serif
  font-weight 700
  font-size 100px
  text-align center
  user-select none
  margin 0

#projects-title
  top 210px
  left -210px

#blog-title
  top 95px
  left -100px

.collection-link
  color #000
  background #fff
  border-radius 10px
  padding-top 5px
  display flex
  align-self center
  padding-left 10px
  padding-right 10px
  margin 0
  margin-left 5%
  margin-right 5%
  font-family p22-underground-pc, sans-serif
  font-weight 600
  font-size 30px
  transition all 250ms

  &:hover
    filter invert(1)