{% macro render(collection, title) %}

<!doctype html>
<html lang="en">
    <head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title }}</title>
	<link rel="stylesheet" href="../../design/css/main.css">
	<link rel="stylesheet" href="https://use.typekit.net/khs4nhq.css">
    </head>
    <body>
	<div class="page">
	    <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px; margin-bottom: 10px">
		<a href="/">
		    <h1 class="logo">Andrei S.</h1>
		</a>
	    </div>
	    <div class="page-content">
		<h1 class="collection-title" id={{ "projects-title" if (title == "Projects") else "blog-title" }}>{{ title | upper }}</h1>
		{% for item in collection | reverse %}
		    <a href="{{ item.url | url }}">
			<div class="project">
			    <div class="project-header">
				<h2 class="project-name">{{ item.data.title }}</h2>
				<h2 class="project-date">{{ item.date | myDate }}</h2>
			    </div>
			    <p class="project-description">{{ item.data.description }}</p>
			</div>
		    </a>
		{% endfor %}
	    </div>
	</div>
    </body>
</html>

{% endmacro %}
