<div class="projects">
    <h2 class="projects-divider">Featured Projects</h2>
    {% for project in collections.featured | reverse %}
	<a href="{{ project.url | url }}">
	    <div class="project">
		<div class="project-header">
		    <h2 class="project-name">{{ project.data.title }}</h2>
		    <h2 class="project-date">{{ project.date | myDate }}</h2>
		</div>
		<p class="project-description">{{ project.data.description }}</p>
	    </div>
	</a>
    {% endfor %}

    <h2 class="projects-divider">Latest Blog</h2>
    {% for post in (collections.blog | reverse).slice(0,1) %}
	<a href="{{ post.url | url }}">
	    <div class="project">
		<div class="project-header">
		    <h2 class="project-name">{{ post.data.title }}</h2>
		    <h2 class="project-date">{{ post.data.date | myDate }}</h2>
		</div>
		<p class="project-description">{{ post.data.description }}</p>
	    </div>
	</a>
    {% endfor %}
</div>
<h1 class="projects-title">PROJECTS</h1>
