<div class="content">
    <h1 class="name">Andrei S.</h1>
    <!-- <h2 class="caption">University of Warwick</h2> -->
    <div class="main-links">
	<a class="collection-link" id="collection-link-l" href="/projects">Projects</a>
	<div class="contact-links">
	    <a class="contact-link" href="https://www.github.com/DivvyCr/"><img class="icon" alt="GitHub" src="/assets/Icon-GitHub.svg"/></a>
	    <a class="contact-link" href=""><img class="icon" alt="LinkedIn" src="/assets/Icon-LinkedIn.svg"/></a>
	    <a class="contact-link" href="https://www.instagram.com/andrei.iirc/"><img class="icon" alt="Twitter" src="/assets/Icon-Instagram.svg"/></a>
	</div>
	<a class="collection-link" id="collection-link-r" href="/blog">Blog</a>
    </div>
    <h4 class="guide">Press Space</h4>
</div>
